/* Define a fonte 'Poppins' importada do Google Fonts para ser usada em todo o documento */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Definições gerais para todos os elementos HTML */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilização do logotipo */
.logo {
    width: 200px;
    /* Largura do logotipo */
    height: auto;
    /* Altura ajustada automaticamente à largura */
    user-select: none;
    /* Evita a seleção de texto no logotipo */
    font-size: 2em;
    color: #fff;
    /* Cor do logotipo */
}

/* Estilização da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000000;
    background-size: cover;
    /* A imagem de fundo cobrirá toda a área */
    background-position: center;
    /* Centraliza a imagem de fundo */
}

/* Estilização do cabeçalho (Header) */
header {
    background-color: #080808;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99; /* Camada mais alta (fica acima de outros elementos) */
}

/* Estilização dos links de navegação no cabeçalho */
.navegacao a {
    font-size: 1.1em;
    color: #ffffff;
    /* Cor do texto */
    text-decoration: none;
    font-weight: 600;
    margin-left: 40px;
    position: center;
}

/* Efeito de sublinhado nos links de navegação ao passar o mouse */
.navegacao a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    /* Cor do sublinhado */
    border-radius: 5px;
    transform-origin: right;
    transform: scale(0);
    transition: transform 0.5s;
}

.navegacao a:hover::after {
    transform-origin: left;
    transform: scale(1);
}

/* Estilo geral do formulário */
.form-box {
    position: relative;
    top: 170px;
    right: 480px;
    width: 760px;
    height: 680px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 100;
    padding: 10px; /* Adicionar algum espaço interno */
    box-sizing: border-box; /* Evitar que padding afete as dimensões totais */
    backdrop-filter: blur(30px);
}

/* Estilização dos campos de entrada */
.input-box {
    position: relative;
    margin: 30px 0; /* Espaço entre os campos */
}

.input-box label {
    position: absolute;
    top: -28px; /* Ajuste fino para o rótulo ficar acima do campo */
    left: 8px;
    font-size: 1.2em; /* Reduzir o tamanho do rótulo para uma aparência mais limpa */
    color: #ffffff;
    font-weight: 600;
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease;
}

.input-box input,
.input-box textarea {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    padding: 10px 15px; /* Adicionar algum preenchimento interno */
    box-sizing: border-box; /* Evitar que padding afete as dimensões totais */
    color: #ffffff;
}

.input-box.message textarea {
    height: 355px; /* Ajuste a altura conforme necessário */
    resize: none;
}

/* Estilização do botão */
.btn {
    position: relative;
    top: -30px;
    width: 100%;
    height: 55px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    color: #000000;
    font-weight: 500;
}

/* Estilização do título do formulário */
.Contato h4 {
    font-size: 40px; /* Reduzir o tamanho do título para melhorar a estética */
    color: #ffffff;
    margin-bottom: 20px; /* Reduzir o espaço inferior do título */
    text-align: center; /* Centralizar o título */
}

/* Adicionar algum espaçamento entre o título e os campos */
.Contato .input-box {
    margin-top: 20px;
}


/* Estilos para o contêiner do mapa */
.map-container {
    left: 300px;
    position: relative;
    bottom: 560px;
    width: 100%;
    height: 600px; 
}

/* Estilos para a tag iframe do Google Maps */
.map-container iframe {
    width: 125%;
    height: 113%;
    border: none; /* Remover a borda */
}

/* Exemplo de estilos para ajustar a posição do mapa */
.map-container {
    margin-top: 50px; /* Margem superior de 50 pixels (ajuste conforme necessário) */
    /* Adicione mais estilos conforme necessário para posicionar o mapa da maneira desejada */
}